.layout-default {
  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: em(90px);
  }

  main {
    width: em(1100px);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
