:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
}

.button {
  border: 1px solid #ffbc27;
  border-radius: 3rem;
  padding: 1.8rem 3rem;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.21429;
  text-transform: uppercase;
  background-color: #ffbc27;
}

.button:focus, .button:hover, .button:active {
  cursor: pointer;
  background-color: #ffb40e;
}

.container {
  width: 1100px;
  max-width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__logo {
  width: 30.1rem;
  height: 7.7rem;
  margin-top: 0;
  margin-bottom: 3.3rem;
  color: transparent;
  font-size: 1rem;
  text-align: center;
  background-image: url("/assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login__taglines {
  margin-top: 0;
  margin-bottom: 7.1rem;
  color: #000;
  font-size: 2.4rem;
  line-height: 1.20833;
  text-align: center;
}

.login__button {
  width: 32rem;
  height: 8rem;
  border: 0;
  background-color: transparent;
}

.login__button:focus, .login__button:hover, .login__button:active {
  cursor: pointer;
}

.login__with-slack {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
  margin-bottom: 6.6rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}

.navbar > .container, .navbar__end, .navbar__user {
  display: flex;
  align-items: center;
}

.navbar > .container {
  justify-content: space-between;
  height: 100%;
}

.navbar__logo, .navbar__logout {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar__logo {
  width: 11rem;
  height: 2.832rem;
  background-image: url("/assets/images/logo.png");
}

.navbar__user {
  border-right: 1px solid #f1f1f1;
}

.navbar__greetings {
  margin-right: 1.6rem;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.1875;
}

.navbar__profile {
  width: 6.4rem;
  height: 5.1rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.navbar__profile::after {
  content: " ";
  display: block;
  width: 4.1rem;
  height: 4.1rem;
  margin: 0.5rem auto;
  border-radius: 50%;
  background-color: #ffbc27;
}

.navbar__logout {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1.9rem;
  background-image: url("/assets/images/icon-logout.svg");
}

.table-list {
  display: flex;
  justify-content: center;
}

.table-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-list__title {
  color: #000;
  font-size: 3.6rem;
  line-height: 1.22222;
  text-transform: uppercase;
}
