.event-list {
  margin-top: em(66px);
  font-size: 1rem;

  &__divider {
    border-bottom: 1px solid map-get($brand-white, 'light');
  }

  &__header {
    padding-bottom: em(31px, 14px);
  }

  &__order {
    color: map-get($brand-gray, 'primary');
    font-size: em(24px);
    font-family: map-get($font, "bold");
    line-height: (29px / 24px);
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__date {
    display: block;
    line-height: strip-unit(19px / 16px);
  }

  &__notice {
    display: block;
    margin-top: em(9px, 14px);
    color: map-get($brand-orange, 'light');
    font-size: em(14px);
    font-weight: normal;
    line-height: (17px / 14px);
  }

  &__action {
    display: inline-block;
    vertical-align: middle;
    margin-right: em(34.5px, 12px);
    color: map-get($brand-gray, 'primary');
    font-size: em(12px);
    font-family: map-get($font, 'medium');
    line-height: (15px / 12px);
    text-decoration: none;

    > .icon {
      margin-right: em(11.5px, 12px);
    }
  }
}
