@import "../variables";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
  margin-bottom: 6.6rem;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);

  > .container,
  &__end,
  &__user {
    display: flex;
    align-items: center;
  }

  > .container {
    justify-content: space-between;
    height: 100%;
  }

  &__logo,
  &__logout {
    background: {
      repeat: no-repeat;
      position: center center;
      size: cover;
    };
  }

  &__logo {
    width: 11rem;
    height: 2.832rem;
    background-image: url($image-path + "/logo.png");

  }

  &__user {
    border-right: 1px solid $soft-white;
  }

  &__greetings {
    margin-right: 1.6rem;
    color: $text-color;
    font-size: 1.6rem;
    line-height: (1.9 / 1.6);
  }

  &__profile {
    width: 6.4rem;
    height: 5.1rem;
    border-radius: 50%;
    margin-right: 1rem;

    &::after {
      content: " ";
      display: block;
      width: 4.1rem;
      height: 4.1rem;
      margin: 0.5rem auto;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }

  &__logout {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 1.9rem;
    background-image: url($image-path + "/icon-logout.svg");
  }
}
