.action-list {
  display: flex;
  align-items: center;
  font-size: 1rem;

  &__item {
    margin-left: rem(34px);

    &:first-child {
      margin-left: 0;
    }
  }

  &__action {
    display: flex;
    align-items: baseline;
    color: map-get($brand-gray, 'primary');
    font-size: em(12px);
    text-decoration: none;
  }

  &__label {
    margin-left: rem(11px);
    box-sizing: border-box;
    font-size: 1em;
    line-height: (15px / 12px);
  }

  .icon {
    &--edit,
    &--delete {
      width: rem(13px);
      height: rem(13px);
    }
  }
}
