.event-list {
  margin-top: rem(66px);
  font-size: 1rem;

  &__date {
    display: block;
    line-height: strip-unit(19px / 16px);
  }

  &__divider {
    border-bottom: 1px solid map-get($brand-white, 'light');
  }

  &__header {
    padding-bottom: rem(31px);
  }

  &__notice {
    display: block;
    margin-top: rem(9px);
    color: map-get($brand-orange, 'light');
    font-size: em(14px);
    font-weight: normal;
    line-height: (17px / 14px);
  }

  &__order {
    color: map-get($brand-gray, 'primary');
    font-size: em(24px);
    font-family: map-get($font, "bold");
    line-height: (29px / 24px);
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__order-name {
    display: block;
    font-size: em(18px);
    font-family: map-get($font, 'medium');
    line-height: (22px / 18px);
  }

  &__order-price {
    display: block;
    margin-top: rem(6px);
    font-size: em(14px);
    font-family: map-get($font, 'medium');
    line-height: (17px / 14px);
  }
}
