.event {
  margin-top: rem(101px);
  font-size: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    font-size: em(36px);
    font-family: map-get($font, 'bolder');
    line-height: 44px / 36px;
    text-transform: uppercase;
  }

  &__body {
    margin-top: rem(22px);
    line-height: (28px / 16px);
  }

  &__action-bar {
    display: flex;
    justify-content: space-between;
    margin-top: rem(28px);
    border-bottom: 1px solid map-get($brand-white, 'light');
    padding-bottom: rem(19px);
    font-size: em(14px);
    line-height: (17px / 14px);
  }
}
