.event-menu-popup-list {
  font-size: 1rem;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid map-get($brand-white, 'light');
    padding: 1rem rem(35px);
  }

  &__name {
    font-size: 1em;
    font-family: map-get($font, 'regular');
    line-height: (19px / 16px);
  }
}
