.icon {
  display: inline-block;
  vertical-align: baseline;
  box-sizing: border-box;
  background: no-repeat center;
  background-size: contain;

  &--edit {
    background-image: url(map-get($path, "image") + "/icon-edit.svg");
  }

  &--delete {
    background-image: url(map-get($path, "image") + "/icon-delete.svg");
  }

  &--minus {
    background-image: url(map-get($path, "image") + "/icon-minus.svg");
  }

  &--plus {
    background-image: url(map-get($path, "image") + "/icon-plus.svg");
  }
}
