.authentication {
  font-size: 1rem;

  &__logo {
    @include hide-text;

    width: rem(301px);
    height: rem(77px);
    background: url(map-get($path, 'image') + "/logo.png") no-repeat center;
    background-size: 100%;
  }

  &__tagline {
    margin-top: rem(33px);
    font-size: em(24px);
    font-family: map-get($font, "bold");
    line-height: (29px / 24px);
  }

  &__with-slack {
    width: rem(320px);
    height: rem(80px);
    margin-top: rem(71px);
  }
}
