button,
[type='button'],
[type='reset'],
[type='submit'] {
  border: 0;
  padding: 0;
  color: map-get($brand-gray, 'primary');
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}
