.event-detail {
  .event {
    flex-basis: calc(100% - #{em(350px + 50px)});
    margin-top: 0;

    &__header-title {
      text-transform: capitalize;
    }
  }

  aside {
    flex-basis: em(350px);
    margin-left: em(50px);
    font-size: 1rem;
  }

  .card:last-child {
    margin-top: em(20px);
    padding: (27px 25px);
  }
}
