.event-detail {
  .event {
    flex-grow: 1;
    margin-top: 0;

    &__header-title {
      text-transform: capitalize;
    }
  }

  aside {
    width: em(350px);
    margin-left: em(50px);
  }

  .card:last-child {
    margin-top: em(20px);
    padding: (27px 25px);
  }
}
